body {
    background-color: rgba(255, 217, 0, 0.836);
    margin: 300px;
    display: grid;
    height: 400px;
    align-content: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    grid-template: auto 612px auto / auto 460px auto
}

#startBtn {
    position: absolute;
    top: 260px;
    left: 420px;
    width: 200px;
    height: 20px;
    font-size: 15px;
}

h1 {
    position: relative;
    top: 30px;
    right: 200px;
}

#base {
    background-color: #791bd1;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 1fr 11fr
}

#base>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

#info>div {
    display: grid;
    align-content: center;
    box-sizing: border-box;
    justify-content: center;
    background: rgb(15, 201, 185);
    border: 5px solid #0abe0a;
    grid-template-columns: 1fr 1fr
}

div#score {
    border-right-width: 2px;
}

div#level {
    border-left-width: 3px;
}

#info>div>div {
    text-align: center;
    display: grid;
    align-content: center;
    text-transform: uppercase;
    color: rgb(33, 119, 70);
}

#info>div>span {
    text-align: right;
    padding: 7px;
    background-color: rgb(43, 101, 226);
    color: rgb(182, 179, 18);
}

#plot {
    display: grid;
    grid-template-rows: auto 58px
}

#hole::after {
    display: block;
    background: url("./field.png") center 70% no-repeat;
    content: '';
    width: 100%;
    background-size: contain;
    height: 60px;
    top: -25px;
    position: relative;
}

.active {
    visibility: visible !important;
    transform: translateY(0) !important
}

#mole {
    background: url(./iceAge.png) center bottom no-repeat;
    background-size: 50%;
    transform: translateY(60%);
    transition: transform 0.5s;
    visibility: hidden;
}